name: "Tripla Interview Takehome Assignment"

services:
  devcontainer:
    build:
      context: ../
      dockerfile: .devcontainer/Dockerfile.dev
    volumes:
      - ../:/workspaces:cached
      # Reuse host Docker daemon (achieves similar effect to devcontainer feature "docker-outside-of-docker" for Alpine)
      - /var/run/docker.sock:/var/run/docker.sock
    command: tail -f /dev/null
    network_mode: host
